:root {
    --font-base: "poppins", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --line-height-base: 1.6;
    --line-height-headings: 1.3;
    --background-color: #f0f0f0;
    --heading-color: #151515;
    --border-color: #bfbfbf;
    --message-box-bg: #dcdcdc;
    --input-text: #4a4a4a;
    --placeholder-color: #8b8b8b;
    --button-bg: #f7f7f7;
    --button-icon: #171717;
}

:root.dark {
    --background-color: #121212;
    --heading-color: #ffffff;
    --border-color: #3a3a3a;
    --message-box-bg: #1e1e1e;
    --input-text: #e0e0e0;
    --placeholder-color: #a8a8a8;
    --button-bg: #2a2a2a;
    --button-icon: #ffffff;
}




body {
    background-color: var(--background-color);
    font-family: var(--font-base);
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1 {
    color: var(--heading-color);
    text-align: center;
    font-size: 1.2rem;
}

.message-box {
    background-color: var(--message-box-bg);
    border: 1px solid var(--border-color);
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px;
}

.input-field {
    border: none;
    background-color: transparent;
    color: var(--input-text);
    font-weight: var(--font-medium);
    font-size: 16px;
    outline: none;
    margin-left: 8px;
    width: 100%;
}
.input-field::placeholder {
    color: var(--placeholder-color);
}

button {
    background-color: var(--button-bg);
    border: none;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    display: flex;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
}
button:hover {
    opacity: 0.9;
}
svg {
    color: var(--button-icon);
}


 /* Toggle Button Style */
  .theme-toggle {
    background: var(--button-bg);
    color: var(--button-icon);
    border: 1px solid var(--border-color);
    border-radius: 50px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: fit-content;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, transform 0.2s;
    overflow: hidden;
  }

  /* Icons */
  .theme-toggle .icon {
    padding: 2px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Light mode default */
  .theme-toggle .sun {
    background-color: var(--background-color);
    transform: rotate(0deg);
  }
  .theme-toggle .moon {
    background-color: transparent;
    transform: rotate(0deg);
  }

  /* Dark mode */
  :root.dark .sun {
    background-color: transparent;
    transform: rotate(90deg);
  }
  :root.dark .moon {
    background-color: var(--background-color);
    transform: rotate(270deg);
  }


/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.6rem;
    color: var(--button-icon);
    font-size: .9rem;
}